/*  your css code here. If applicable */
:root{
	--page-background-color:rgb(135, 206, 235);
}
body{
	background-color: var(--page-background-color);
}
article p:first-child{
	color:white;
	background-color:black;
}

article p:nth-child(2){
	color:inherit;
}
article p:last-child{
	color:red;
}

ul li:nth-child(odd){
	background-color:white;
}
ul li:nth-child(even){
	background-color:gray;
}
ul li:first-child,
ul li:last-child{
	font-size:22px;
}
ul li:nth-last-child(3){
	background-color:pink;
}